body{
background:#0f172a;
color:white;
font-family:Arial;
text-align:center;
padding-top:100px;
}

.hide{display:none}

input,select{
padding:10px;
margin:10px;
width:200px;
}

button{
padding:10px 20px;
background:#2563eb;
border:none;
color:white;
cursor:pointer;
}
