body{
margin:0;
background:#0f2027;
font-family:Arial;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.screen{
text-align:center;
width:320px;
}

.hidden{
display:none;
}

input,select,textarea,button{
width:100%;
margin:8px 0;
padding:10px;
border-radius:6px;
border:none;
}

button{
background:#00c6ff;
color:black;
font-weight:bold;
cursor:pointer;
}

#events div{
background:#222;
margin:5px;
padding:8px;
cursor:pointer;
}
