*{
box-sizing:border-box;
}

body{
margin:0;
font-family:Poppins,Arial;
color:white;
}

.landing{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#020617,#0f172a,#020617);
background-size:400% 400%;
animation:bg 10s ease infinite;
}

@keyframes bg{
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}

.landing-card{
background:rgba(255,255,255,.05);
padding:50px;
border-radius:20px;
backdrop-filter:blur(20px);
text-align:center;
box-shadow:0 30px 60px rgba(0,0,0,.6);
width:320px;
}

.landing-card h1{
margin:0;
font-size:36px;
}

.landing-card p{
opacity:.7;
margin-bottom:30px;
}

button{
width:100%;
padding:14px;
margin-top:12px;
border-radius:10px;
border:none;
background:#38bdf8;
color:black;
font-weight:600;
cursor:pointer;
transition:.2s;
}

button:hover{
transform:translateY(-2px);
box-shadow:0 10px 20px rgba(56,189,248,.5);
}

.secondary{
background:transparent;
border:1px solid #38bdf8;
color:#38bdf8;
}

.container{
max-width:1000px;
margin:auto;
padding:40px 20px;
}

.card{
background:#0f172a;
padding:20px;
border-radius:12px;
margin-bottom:20px;
box-shadow:0 10px 30px rgba(0,0,0,.5);
}

input{
width:100%;
padding:12px;
border-radius:8px;
border:none;
background:#020617;
color:white;
margin-top:10px;
}

.event-card{
border:1px solid #38bdf8;
border-radius:8px;
padding:10px;
margin-top:10px;
cursor:pointer;
}

.event-card:hover{
background:#020617;
}
