* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg,#020617,#0f172a);
  color: white;
  min-height: 100vh;
}

/* LOGIN */

.login {
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.login h1 {
  margin-bottom:20px;
}

.login input {
  width:280px;
  padding:14px;
  border-radius:8px;
  border:none;
  margin-bottom:12px;
  font-size:16px;
}

.login button {
  width:280px;
  padding:12px;
  border:none;
  border-radius:8px;
  background:#6366f1;
  color:white;
  font-size:16px;
  cursor:pointer;
}

/* DASHBOARD */

.hidden { display:none; }

.app {
  display:flex;
  height:100vh;
}

.sidebar {
  width:220px;
  background:#020617;
  padding:20px;
  display:flex;
  flex-direction:column;
}

.logo {
  font-size:22px;
  margin-bottom:30px;
}

.sidebar nav a {
  display:block;
  padding:10px;
  margin-bottom:6px;
  border-radius:6px;
  background:#0f172a;
}

.logout {
  margin-top:auto;
  background:#ef4444;
  border:none;
  padding:10px;
  border-radius:6px;
  color:white;
}

.main {
  flex:1;
  padding:30px;
}

.panel {
  background:#020617;
  padding:20px;
  border-radius:12px;
  margin-bottom:20px;
}

input {
  width:100%;
  padding:12px;
  border-radius:6px;
  border:none;
  margin-bottom:10px;
}

button {
  padding:12px;
  border:none;
  border-radius:6px;
  background:#6366f1;
  color:white;
}

#events p {
  background:#0f172a;
  padding:10px;
  margin-top:6px;
  border-radius:6px;
}
