body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

.center{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
gap:20px;
}

button{
padding:12px 20px;
border:none;
border-radius:8px;
background:#6366f1;
color:white;
cursor:pointer;
}

input,select,textarea{
width:260px;
padding:10px;
margin:8px;
border-radius:6px;
border:none;
}

.panel{
padding:30px;
}

.hidden{
display:none;
}

#events div{
background:#1e293b;
margin:8px;
padding:10px;
border-radius:6px;
}

#qr{
margin:20px;
background:white;
padding:10px;
}

