*{box-sizing:border-box}

body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#0f172a,#020617);
color:white;
}

.hidden{display:none}

header{
padding:20px;
text-align:center;
font-size:22px;
background:#020617;
}

.center-screen{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.card{
background:#020617;
padding:30px;
border-radius:12px;
box-shadow:0 0 25px #000;
text-align:center;
}

.small{width:280px}

.container{
max-width:500px;
margin:auto;
padding:20px;
}

input{
width:100%;
padding:12px;
margin:10px 0;
border-radius:8px;
border:none;
}

button{
width:100%;
padding:12px;
background:#2563eb;
border:none;
border-radius:8px;
color:white;
font-size:16px;
cursor:pointer;
margin-top:10px;
}

button:hover{
background:#1d4ed8;
}

.event{
background:#020617;
padding:10px;
border-radius:8px;
margin:8px 0;
cursor:pointer;
}

#qr{
margin-top:20px;
display:flex;
justify-content:center;
}
