body{
margin:0;
font-family:system-ui;
background:#020617;
color:white;
height:100vh;
}

.center{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
height:100vh;
}

button{
background:#2563eb;
border:none;
padding:12px;
margin-top:10px;
border-radius:6px;
color:white;
cursor:pointer;
width:200px;
}

input,select{
padding:10px;
margin-top:10px;
border-radius:6px;
border:none;
width:250px;
}

.hidden{display:none}

#dashboard{
display:flex;
height:100vh;
}

.sidebar{
width:220px;
background:#020617;
border-right:1px solid #1e293b;
padding:20px;
}

.sidebar button{
width:100%;
}

.main{
flex:1;
padding:30px;
}

.section{
max-width:500px;
}

.event{
background:#020617;
padding:8px;
margin-top:6px;
border-radius:6px;
}
