body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
color:white;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.screen{
background:#111;
padding:40px;
border-radius:12px;
text-align:center;
width:300px;
box-shadow:0 0 30px rgba(0,0,0,.5);
}

.hidden{display:none;}

input,select{
width:100%;
padding:10px;
margin:10px 0;
border:none;
border-radius:6px;
}

button{
width:100%;
padding:12px;
margin-top:10px;
background:#00b4d8;
border:none;
border-radius:6px;
color:black;
font-weight:bold;
cursor:pointer;
}

button:hover{
background:#48cae4;
}
