body{
background:#0f2027;
color:white;
font-family:Arial;
text-align:center;
}

.screen{
padding-top:100px;
}

.hidden{
display:none;
}

input,select,textarea,button{
margin:8px;
padding:10px;
border-radius:6px;
border:none;
}

button{
background:#00bcd4;
color:white;
cursor:pointer;
}
