body{
margin:0;
font-family:Segoe UI;
background:#020617;
color:white;
}

.center{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
}

.card{
background:#0f172a;
padding:40px;
border-radius:18px;
box-shadow:0 0 50px #0ea5e9;
}

.panel{
padding:40px;
max-width:500px;
margin:40px auto;
background:#0f172a;
border-radius:20px;
box-shadow:0 0 40px #0ea5e9;
text-align:center;
}

button{
padding:12px 30px;
margin:10px;
border:none;
border-radius:8px;
background:#0ea5e9;
color:white;
cursor:pointer;
font-size:15px;
}

input,select{
width:90%;
padding:12px;
margin:10px;
border-radius:8px;
border:none;
}

.hidden{display:none;}

#qr{margin:20px;}
