body{
background:#0d1117;
color:white;
font-family:Arial;
text-align:center;
}

.hidden{display:none}

button{
padding:10px 20px;
background:#238636;
border:none;
color:white;
margin:10px;
border-radius:6px;
cursor:pointer;
}

input,select{
padding:10px;
margin:10px;
width:200px;
border-radius:6px;
border:none;
}
