body{
margin:0;
font-family:sans-serif;
background:#0b1b2b;
color:white;
}

.hidden{
display:none;
}

.screen{
min-height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
gap:15px;
}

input,select,textarea{
width:260px;
padding:10px;
border-radius:6px;
border:none;
}

button{
width:260px;
padding:12px;
border:none;
border-radius:6px;
background:#1fa2ff;
color:white;
font-size:16px;
cursor:pointer;
}

#events div{
width:260px;
background:#222;
padding:8px;
margin:5px 0;
border-radius:5px;
text-align:center;
cursor:pointer;
}

#participants{
width:260px;
text-align:center;
}
textarea{width:100%;height:70px;margin:10px 0;}

