body{
margin:0;
background:#0b1220;
font-family:Arial;
color:white;
text-align:center;
}

input{
padding:12px;
width:250px;
margin:10px;
border-radius:6px;
border:none;
}

button{
padding:12px 25px;
background:#2563eb;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
margin:10px;
}

button:hover{
background:#1d4ed8;
}

.hidden{
display:none;
}

#events div{
background:#111827;
padding:10px;
margin:10px auto;
width:300px;
border-radius:6px;
cursor:pointer;
}

#events div:hover{
background:#1f2937;
}

#qr{
margin-top:20px;
}

#role{
margin-top:120px;
}

#admin,#participant{
margin-top:50px;
}
