body{
margin:0;
font-family:system-ui;
background:linear-gradient(135deg,#050b16,#0a1f33);
color:white;
display:flex;
align-items:center;
justify-content:center;
height:100vh;
}

.center-card{
background:#0e2238;
padding:30px;
border-radius:12px;
width:320px;
text-align:center;
box-shadow:0 0 40px rgba(0,0,0,.5);
}

button{
background:#1e90ff;
border:none;
padding:12px;
width:100%;
margin-top:10px;
border-radius:6px;
color:white;
cursor:pointer;
font-weight:bold;
}

button:hover{background:#0f7ae5;}

input,select{
width:100%;
padding:10px;
margin-top:10px;
border-radius:6px;
border:none;
}

.hidden{display:none;}

#eventList div{
background:#122b48;
padding:8px;
margin-top:5px;
border-radius:6px;
}
